.VPHero .VPImage {
  max-width: 100% !important;
  max-height: 500px !important;
  width: 500px !important;
}

.VPHero .VPImage img {
  max-width: 100% !important;
  max-height: 500px !important;
  width: 500px !important;
  object-fit: contain;
}
